# PySpark DataFrame é«˜çº§æ“ä½œ

## æ•°æ®æ¸…æ´—ä¸è½¬æ¢å®æˆ˜æ•™ç¨‹

æœ¬æ•™ç¨‹æ¶µç›–ï¼š
- ğŸ§¹ æ•°æ®æ¸…æ´—ï¼ˆç¼ºå¤±å€¼ã€é‡å¤å€¼ã€å¼‚å¸¸å€¼ï¼‰
- ğŸ”„ æ•°æ®è½¬æ¢ï¼ˆç±»å‹è½¬æ¢ã€åˆ—æ“ä½œï¼‰
- ğŸ¯ é«˜çº§é€‰æ‹©ä¸è¿‡æ»¤
- ğŸ”— å¤æ‚æ•°æ®ç±»å‹å¤„ç†
- ğŸ› ï¸ å®ç”¨æŠ€å·§ä¸æœ€ä½³å®è·µ

In [ ]:
# ç¯å¢ƒè®¾ç½®
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

# åˆ›å»º Spark Session
spark = SparkSession.builder \
    .appName("DataFrame é«˜çº§æ“ä½œ") \
    .master("local[*]") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

print(f"âœ… Spark {spark.version} å·²å¯åŠ¨")
print(f"âœ… Spark UI: http://localhost:4040")

## ç¬¬ä¸€éƒ¨åˆ†ï¼šåˆ›å»ºæ¨¡æ‹Ÿæ•°æ®

åˆ›å»ºä¸€ä¸ªåŒ…å«å„ç§æ•°æ®è´¨é‡é—®é¢˜çš„æ•°æ®é›†ï¼Œæ¨¡æ‹ŸçœŸå®åœºæ™¯ã€‚

In [ ]:
# åˆ›å»ºåŒ…å«æ•°æ®è´¨é‡é—®é¢˜çš„ç”¨æˆ·æ•°æ®
messy_data = [
    (1, "Alice", "alice@email.com", 28, "Female", 75000.0, "2023-01-15", "New York"),
    (2, "Bob", "bob@email.com", 35, "Male", 85000.0, "2023-02-20", "Los Angeles"),
    (3, "Charlie", None, None, "Male", 65000.0, "2023-03-10", "Chicago"),  # ç¼ºå¤±é‚®ç®±å’Œå¹´é¾„
    (4, "David", "david@email.com", 42, "Male", None, "2023-04-05", "Houston"),  # ç¼ºå¤±è–ªèµ„
    (5, None, "eve@email.com", 29, "Female", 70000.0, None, "Phoenix"),  # ç¼ºå¤±å§“åå’Œæ—¥æœŸ
    (6, "Frank", "frank@invalid", -5, "Male", 72000.0, "2023-06-15", "Philadelphia"),  # å¼‚å¸¸å¹´é¾„
    (7, "Grace", "grace@email.com", 31, "Female", 78000.0, "2023-07-20", "San Antonio"),
    (2, "Bob", "bob@email.com", 35, "Male", 85000.0, "2023-02-20", "Los Angeles"),  # é‡å¤è¡Œ
    (8, "Henry", "henry@email.com", 150, "Male", 90000.0, "2023-08-25", "San Diego"),  # å¼‚å¸¸å¹´é¾„
    (9, "Ivy", "ivy@email.com", 26, "Female", -10000.0, "2023-09-30", "Dallas"),  # å¼‚å¸¸è–ªèµ„
    (10, "Jack", "JACK@EMAIL.COM", 33, "male", 82000.0, "2023-10-15", "san jose"),  # å¤§å°å†™ä¸ä¸€è‡´
]

columns = ["id", "name", "email", "age", "gender", "salary", "join_date", "city"]

df = spark.createDataFrame(messy_data, columns)

print("åŸå§‹æ•°æ®ï¼ˆåŒ…å«è´¨é‡é—®é¢˜ï¼‰ï¼š")
df.show(truncate=False)

print("\næ•°æ®æ¦‚è§ˆï¼š")
df.printSchema()
print(f"æ€»è¡Œæ•°: {df.count()}")

## ç¬¬äºŒéƒ¨åˆ†ï¼šæ•°æ®è´¨é‡æ£€æŸ¥

åœ¨æ¸…æ´—ä¹‹å‰ï¼Œå…ˆäº†è§£æ•°æ®çš„é—®é¢˜ã€‚

In [ ]:
# 1. æ£€æŸ¥æ¯åˆ—çš„ç¼ºå¤±å€¼æ•°é‡
print("=" * 60)
print("ç¼ºå¤±å€¼ç»Ÿè®¡")
print("=" * 60)

from pyspark.sql.functions import col, sum as _sum, count, when, isnan

# ç»Ÿè®¡æ¯åˆ—çš„ NULL å€¼
null_counts = df.select([
    _sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in df.columns
])

print("æ¯åˆ—çš„ NULL å€¼æ•°é‡ï¼š")
null_counts.show()

# 2. æ£€æŸ¥é‡å¤è¡Œ
print("\n" + "=" * 60)
print("é‡å¤æ•°æ®æ£€æŸ¥")
print("=" * 60)

total_rows = df.count()
distinct_rows = df.distinct().count()
duplicate_rows = total_rows - distinct_rows

print(f"æ€»è¡Œæ•°: {total_rows}")
print(f"å”¯ä¸€è¡Œæ•°: {distinct_rows}")
print(f"é‡å¤è¡Œæ•°: {duplicate_rows}")

# 3. åŸºæœ¬ç»Ÿè®¡ä¿¡æ¯
print("\n" + "=" * 60)
print("æ•°å€¼åˆ—ç»Ÿè®¡")
print("=" * 60)

df.select("age", "salary").describe().show()

## ç¬¬ä¸‰éƒ¨åˆ†ï¼šæ•°æ®æ¸…æ´—

### 3.1 å¤„ç†é‡å¤æ•°æ®

In [ ]:
# æ–¹æ³• 1ï¼šåˆ é™¤å®Œå…¨é‡å¤çš„è¡Œ
df_no_duplicates = df.dropDuplicates()

print("åˆ é™¤é‡å¤è¡Œåï¼š")
print(f"åŸå§‹è¡Œæ•°: {df.count()} â†’ æ¸…æ´—å: {df_no_duplicates.count()}")

# æ–¹æ³• 2ï¼šåŸºäºç‰¹å®šåˆ—åˆ é™¤é‡å¤ï¼ˆä¿ç•™ç¬¬ä¸€æ¡ï¼‰
df_no_dup_id = df.dropDuplicates(["id"])

print(f"\nåŸºäº ID åˆ é™¤é‡å¤å: {df_no_dup_id.count()} è¡Œ")

# ä½¿ç”¨æ¸…æ´—åçš„æ•°æ®ç»§ç»­
df_clean = df_no_duplicates

### 3.2 å¤„ç†ç¼ºå¤±å€¼

In [ ]:
print("=" * 60)
print("å¤„ç†ç¼ºå¤±å€¼")
print("=" * 60)

# æ–¹æ³• 1ï¼šåˆ é™¤åŒ…å«ä»»ä½• NULL çš„è¡Œ
df_dropna_any = df_clean.dropna(how='any')
print(f"åˆ é™¤ä»»ä½•åŒ…å« NULL çš„è¡Œ: {df_dropna_any.count()} è¡Œ")

# æ–¹æ³• 2ï¼šåˆ é™¤æ‰€æœ‰åˆ—éƒ½æ˜¯ NULL çš„è¡Œ
df_dropna_all = df_clean.dropna(how='all')
print(f"åˆ é™¤å…¨éƒ¨ä¸º NULL çš„è¡Œ: {df_dropna_all.count()} è¡Œ")

# æ–¹æ³• 3ï¼šåˆ é™¤ç‰¹å®šåˆ—ä¸º NULL çš„è¡Œ
df_dropna_subset = df_clean.dropna(subset=["name", "email"])
print(f"åˆ é™¤ name æˆ– email ä¸º NULL çš„è¡Œ: {df_dropna_subset.count()} è¡Œ")

# æ–¹æ³• 4ï¼šå¡«å……ç¼ºå¤±å€¼
print("\nå¡«å……ç¼ºå¤±å€¼ç¤ºä¾‹ï¼š")

# ç”¨å›ºå®šå€¼å¡«å……
df_filled = df_clean.fillna({
    "name": "Unknown",
    "email": "no-email@example.com",
    "age": 0,
    "salary": 0.0,
    "join_date": "1900-01-01"
})

print("ç”¨å›ºå®šå€¼å¡«å……åï¼š")
df_filled.show(truncate=False)

# æ–¹æ³• 5ï¼šç”¨å¹³å‡å€¼/ä¸­ä½æ•°å¡«å……æ•°å€¼åˆ—
from pyspark.sql.functions import mean, median, approx_count_distinct

# è®¡ç®—å¹³å‡å¹´é¾„å’Œè–ªèµ„
avg_age = df_clean.select(mean("age")).first()[0]
avg_salary = df_clean.select(mean("salary")).first()[0]

df_filled_avg = df_clean.fillna({
    "age": avg_age,
    "salary": avg_salary
})

print(f"\nç”¨å¹³å‡å€¼å¡«å……: å¹´é¾„={avg_age:.1f}, è–ªèµ„={avg_salary:.2f}")
df_filled_avg.show(truncate=False)

### 3.3 å¤„ç†å¼‚å¸¸å€¼

In [ ]:
print("=" * 60)
print("å¤„ç†å¼‚å¸¸å€¼")
print("=" * 60)

# 1. è¯†åˆ«å¼‚å¸¸å€¼ï¼ˆå¹´é¾„åº”è¯¥åœ¨ 18-100 ä¹‹é—´ï¼‰
df_age_check = df_filled_avg.withColumn(
    "age_valid",
    when((col("age") >= 18) & (col("age") <= 100), True).otherwise(False)
)

print("å¹´é¾„å¼‚å¸¸å€¼æ£€æŸ¥ï¼š")
df_age_check.select("name", "age", "age_valid").show()

# 2. è¿‡æ»¤å¼‚å¸¸å€¼
df_no_outliers = df_filled_avg.filter(
    (col("age") >= 18) & (col("age") <= 100) &
    (col("salary") >= 0)
)

print(f"\nè¿‡æ»¤å¼‚å¸¸å€¼å: {df_no_outliers.count()} è¡Œ")
df_no_outliers.show(truncate=False)

# 3. ä½¿ç”¨ç»Ÿè®¡æ–¹æ³•è¯†åˆ«å¼‚å¸¸å€¼ï¼ˆIQR æ–¹æ³•ï¼‰
from pyspark.sql.functions import percentile_approx

# è®¡ç®—å››åˆ†ä½æ•°
quantiles = df_filled_avg.approxQuantile("salary", [0.25, 0.75], 0.05)
Q1 = quantiles[0]
Q3 = quantiles[1]
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"\nè–ªèµ„å¼‚å¸¸å€¼æ£€æµ‹ï¼ˆIQR æ–¹æ³•ï¼‰ï¼š")
print(f"Q1 (25%): {Q1:.2f}")
print(f"Q3 (75%): {Q3:.2f}")
print(f"IQR: {IQR:.2f}")
print(f"æ­£å¸¸èŒƒå›´: [{lower_bound:.2f}, {upper_bound:.2f}]")

df_iqr_filtered = df_filled_avg.filter(
    (col("salary") >= lower_bound) & (col("salary") <= upper_bound)
)

print(f"\nä½¿ç”¨ IQR è¿‡æ»¤å: {df_iqr_filtered.count()} è¡Œ")

## ç¬¬å››éƒ¨åˆ†ï¼šæ•°æ®è½¬æ¢

### 4.1 åˆ—æ“ä½œï¼ˆæ·»åŠ ã€åˆ é™¤ã€é‡å‘½åï¼‰

In [ ]:
print("=" * 60)
print("åˆ—æ“ä½œ")
print("=" * 60)

# 1. æ·»åŠ æ–°åˆ—
df_with_cols = df_no_outliers \
    .withColumn("salary_category", 
                when(col("salary") < 70000, "Junior")
                .when(col("salary") < 80000, "Mid")
                .otherwise("Senior")) \
    .withColumn("age_group",
                when(col("age") < 30, "20s")
                .when(col("age") < 40, "30s")
                .otherwise("40+")) \
    .withColumn("full_name_upper", upper(col("name")))

print("æ·»åŠ æ–°åˆ—åï¼š")
df_with_cols.select("name", "age", "salary", "age_group", "salary_category").show()

# 2. åˆ é™¤åˆ—
df_dropped = df_with_cols.drop("full_name_upper")
print(f"\nåˆ é™¤åˆ—å: {len(df_dropped.columns)} åˆ—")

# 3. é‡å‘½ååˆ—
df_renamed = df_with_cols \
    .withColumnRenamed("name", "employee_name") \
    .withColumnRenamed("salary", "annual_salary")

print("\né‡å‘½ååˆ—åï¼š")
print(df_renamed.columns)

### 4.2 å­—ç¬¦ä¸²å¤„ç†

In [ ]:
print("=" * 60)
print("å­—ç¬¦ä¸²å¤„ç†")
print("=" * 60)

# 1. å¤§å°å†™è½¬æ¢
df_string = df_no_outliers \
    .withColumn("name_upper", upper(col("name"))) \
    .withColumn("name_lower", lower(col("name"))) \
    .withColumn("email_lower", lower(col("email"))) \
    .withColumn("city_proper", initcap(col("city")))  # é¦–å­—æ¯å¤§å†™

print("å­—ç¬¦ä¸²è½¬æ¢ï¼š")
df_string.select("name", "name_upper", "name_lower", "city", "city_proper").show(truncate=False)

# 2. å»é™¤ç©ºæ ¼
df_trimmed = df_no_outliers \
    .withColumn("name_trimmed", trim(col("name"))) \
    .withColumn("email_trimmed", trim(col("email")))

# 3. å­—ç¬¦ä¸²åˆ†å‰²
df_split = df_no_outliers \
    .withColumn("email_parts", split(col("email"), "@")) \
    .withColumn("email_user", split(col("email"), "@")[0]) \
    .withColumn("email_domain", split(col("email"), "@")[1])

print("\nå­—ç¬¦ä¸²åˆ†å‰²ï¼ˆé‚®ç®±ï¼‰ï¼š")
df_split.select("email", "email_user", "email_domain").show(truncate=False)

# 4. å­—ç¬¦ä¸²æ‹¼æ¥
df_concat = df_no_outliers \
    .withColumn("full_info", 
                concat_ws(" - ", col("name"), col("city"), col("gender")))

print("\nå­—ç¬¦ä¸²æ‹¼æ¥ï¼š")
df_concat.select("full_info").show(truncate=False)

# 5. æ­£åˆ™è¡¨è¾¾å¼æ›¿æ¢
df_regex = df_no_outliers \
    .withColumn("email_masked",
                regexp_replace(col("email"), "@.*", "@***"))

print("\né‚®ç®±è„±æ•ï¼š")
df_regex.select("email", "email_masked").show(truncate=False)

### 4.3 ç±»å‹è½¬æ¢

In [ ]:
print("=" * 60)
print("ç±»å‹è½¬æ¢")
print("=" * 60)

# æŸ¥çœ‹å½“å‰æ•°æ®ç±»å‹
print("åŸå§‹æ•°æ®ç±»å‹ï¼š")
df_no_outliers.printSchema()

# 1. è½¬æ¢æ—¥æœŸç±»å‹
df_typed = df_no_outliers \
    .withColumn("join_date", to_date(col("join_date"), "yyyy-MM-dd"))

# 2. è½¬æ¢æ•°å€¼ç±»å‹
df_typed = df_typed \
    .withColumn("age", col("age").cast(IntegerType())) \
    .withColumn("salary", col("salary").cast(DoubleType()))

print("\nè½¬æ¢åçš„æ•°æ®ç±»å‹ï¼š")
df_typed.printSchema()

# 3. ä»æ—¥æœŸä¸­æå–ä¿¡æ¯
df_date = df_typed \
    .withColumn("year", year(col("join_date"))) \
    .withColumn("month", month(col("join_date"))) \
    .withColumn("day", dayofmonth(col("join_date"))) \
    .withColumn("day_of_week", dayofweek(col("join_date"))) \
    .withColumn("quarter", quarter(col("join_date")))

print("\næ—¥æœŸä¿¡æ¯æå–ï¼š")
df_date.select("name", "join_date", "year", "month", "day", "quarter").show()

### 4.4 æ¡ä»¶è½¬æ¢å’Œ CASE WHEN

In [ ]:
print("=" * 60)
print("æ¡ä»¶è½¬æ¢ (CASE WHEN)")
print("=" * 60)

# 1. ç®€å•æ¡ä»¶
df_conditions = df_typed \
    .withColumn("is_senior",
                when(col("age") >= 35, "Yes").otherwise("No")) \
    .withColumn("salary_level",
                when(col("salary") >= 85000, "High")
                .when(col("salary") >= 75000, "Medium-High")
                .when(col("salary") >= 70000, "Medium")
                .otherwise("Low"))

print("æ¡ä»¶åˆ†ç±»ï¼š")
df_conditions.select("name", "age", "is_senior", "salary", "salary_level").show()

# 2. å¤æ‚æ¡ä»¶ç»„åˆ
df_complex = df_typed \
    .withColumn("talent_category",
                when((col("age") < 30) & (col("salary") >= 75000), "Rising Star")
                .when((col("age") >= 35) & (col("salary") >= 80000), "Senior Expert")
                .when(col("salary") >= 85000, "High Performer")
                .otherwise("Regular"))

print("\näººæ‰åˆ†ç±»ï¼š")
df_complex.select("name", "age", "salary", "talent_category").show()

# 3. ä½¿ç”¨ SQL è¡¨è¾¾å¼
df_typed.createOrReplaceTempView("employees")

result = spark.sql("""
    SELECT 
        name,
        age,
        salary,
        CASE
            WHEN salary >= 85000 THEN 'ğŸ’° é«˜è–ª'
            WHEN salary >= 75000 THEN 'ğŸ’µ ä¸­é«˜è–ª'
            ELSE 'ğŸ’´ æ™®é€š'
        END as salary_emoji
    FROM employees
""")

print("\nSQL æ¡ä»¶è¡¨è¾¾å¼ï¼š")
result.show(truncate=False)

## ç¬¬äº”éƒ¨åˆ†ï¼šé«˜çº§é€‰æ‹©ä¸è¿‡æ»¤

### 5.1 å¤æ‚è¿‡æ»¤æ¡ä»¶

In [ ]:
print("=" * 60)
print("é«˜çº§è¿‡æ»¤")
print("=" * 60)

# 1. å¤šæ¡ä»¶è¿‡æ»¤
filtered_1 = df_typed.filter(
    (col("age") >= 30) & 
    (col("salary") >= 75000) & 
    (col("gender") == "Female")
)

print("30å²ä»¥ä¸Šã€è–ªèµ„>=75000 çš„å¥³æ€§ï¼š")
filtered_1.show()

# 2. IN æ“ä½œ
filtered_2 = df_typed.filter(col("city").isin(["New York", "Los Angeles", "Chicago"]))

print("\nç‰¹å®šåŸå¸‚çš„å‘˜å·¥ï¼š")
filtered_2.show()

# 3. LIKE æ¨¡ç³ŠåŒ¹é…
filtered_3 = df_typed.filter(col("email").like("%@email.com"))

print("\né‚®ç®±åŒ…å« @email.com çš„å‘˜å·¥ï¼š")
filtered_3.show()

# 4. æ­£åˆ™è¡¨è¾¾å¼åŒ¹é…
filtered_4 = df_typed.filter(col("name").rlike("^[A-C].*"))  # åå­—ä»¥ Aã€Bã€C å¼€å¤´

print("\nåå­—ä»¥ A/B/C å¼€å¤´çš„å‘˜å·¥ï¼š")
filtered_4.show()

# 5. BETWEEN
filtered_5 = df_typed.filter(col("salary").between(70000, 80000))

print("\nè–ªèµ„åœ¨ 70000-80000 ä¹‹é—´ï¼š")
filtered_5.show()

### 5.2 åŠ¨æ€åˆ—é€‰æ‹©

In [ ]:
print("=" * 60)
print("åŠ¨æ€åˆ—é€‰æ‹©")
print("=" * 60)

# 1. é€‰æ‹©ç‰¹å®šåˆ—
selected_1 = df_typed.select("name", "age", "salary")
print("åŸºæœ¬é€‰æ‹©ï¼š")
selected_1.show(3)

# 2. ä½¿ç”¨è¡¨è¾¾å¼é€‰æ‹©
selected_2 = df_typed.select(
    col("name"),
    (col("salary") / 12).alias("monthly_salary"),
    (col("salary") * 0.2).alias("annual_bonus")
)

print("\nè®¡ç®—åˆ—ï¼š")
selected_2.show()

# 3. æ’é™¤ç‰¹å®šåˆ—
cols_to_keep = [c for c in df_typed.columns if c not in ["id", "email"]]
selected_3 = df_typed.select(cols_to_keep)

print("\næ’é™¤ id å’Œ emailï¼š")
print(selected_3.columns)

# 4. é€‰æ‹©ç‰¹å®šç±»å‹çš„åˆ—
numeric_cols = [field.name for field in df_typed.schema.fields 
                if isinstance(field.dataType, (IntegerType, DoubleType, FloatType))]

print(f"\næ•°å€¼åˆ—: {numeric_cols}")
df_typed.select(numeric_cols).show(3)

## ç¬¬å…­éƒ¨åˆ†ï¼šå®æˆ˜æ¡ˆä¾‹

ç»¼åˆè¿ç”¨æ•°æ®æ¸…æ´—å’Œè½¬æ¢æŠ€å·§

In [ ]:
print("=" * 60)
print("å®æˆ˜æ¡ˆä¾‹ï¼šå®Œæ•´çš„æ•°æ®æ¸…æ´—æµç¨‹")
print("=" * 60)

# æ­¥éª¤ 1: åˆ é™¤é‡å¤æ•°æ®
df_step1 = df.dropDuplicates()
print(f"æ­¥éª¤ 1 - åˆ é™¤é‡å¤: {df.count()} â†’ {df_step1.count()} è¡Œ")

# æ­¥éª¤ 2: æ ‡å‡†åŒ–å­—ç¬¦ä¸²ï¼ˆå°å†™ã€å»ç©ºæ ¼ï¼‰
df_step2 = df_step1 \
    .withColumn("email", lower(trim(col("email")))) \
    .withColumn("gender", initcap(trim(col("gender")))) \
    .withColumn("city", initcap(trim(col("city"))))

print("æ­¥éª¤ 2 - å­—ç¬¦ä¸²æ ‡å‡†åŒ–å®Œæˆ")

# æ­¥éª¤ 3: å¤„ç†å¼‚å¸¸å€¼
df_step3 = df_step2.filter(
    (col("age").isNull() | ((col("age") >= 18) & (col("age") <= 100))) &
    (col("salary").isNull() | (col("salary") >= 0))
)

print(f"æ­¥éª¤ 3 - è¿‡æ»¤å¼‚å¸¸å€¼: {df_step2.count()} â†’ {df_step3.count()} è¡Œ")

# æ­¥éª¤ 4: å¡«å……ç¼ºå¤±å€¼
avg_age = df_step3.select(mean("age")).first()[0]
avg_salary = df_step3.select(mean("salary")).first()[0]

df_step4 = df_step3.fillna({
    "name": "Unknown",
    "email": "unknown@example.com",
    "age": avg_age,
    "salary": avg_salary,
    "join_date": "2023-01-01"
})

print(f"æ­¥éª¤ 4 - å¡«å……ç¼ºå¤±å€¼å®Œæˆ (avg_age={avg_age:.1f}, avg_salary={avg_salary:.2f})")

# æ­¥éª¤ 5: ç±»å‹è½¬æ¢
df_step5 = df_step4 \
    .withColumn("join_date", to_date(col("join_date"))) \
    .withColumn("age", col("age").cast(IntegerType())) \
    .withColumn("salary", col("salary").cast(DoubleType()))

print("æ­¥éª¤ 5 - ç±»å‹è½¬æ¢å®Œæˆ")

# æ­¥éª¤ 6: æ·»åŠ æ´¾ç”Ÿåˆ—
df_final = df_step5 \
    .withColumn("salary_category",
                when(col("salary") >= 85000, "High")
                .when(col("salary") >= 75000, "Medium")
                .otherwise("Low")) \
    .withColumn("age_group",
                when(col("age") < 30, "20s")
                .when(col("age") < 40, "30s")
                .otherwise("40+")) \
    .withColumn("join_year", year(col("join_date"))) \
    .withColumn("email_domain", split(col("email"), "@")[1]) \
    .withColumn("monthly_salary", round(col("salary") / 12, 2))

print("æ­¥éª¤ 6 - æ·»åŠ æ´¾ç”Ÿåˆ—å®Œæˆ")

print("\n" + "=" * 60)
print("æœ€ç»ˆæ¸…æ´—åçš„æ•°æ®")
print("=" * 60)

df_final.show(truncate=False)

print("\næœ€ç»ˆæ•°æ®ç»Ÿè®¡ï¼š")
print(f"æ€»è¡Œæ•°: {df_final.count()}")
print(f"æ€»åˆ—æ•°: {len(df_final.columns)}")
print(f"åˆ—å: {df_final.columns}")

# ä¿å­˜æ¸…æ´—åçš„æ•°æ®
# df_final.write.mode("overwrite").parquet("/tmp/cleaned_employees")
# print("\nâœ… æ•°æ®å·²ä¿å­˜åˆ° /tmp/cleaned_employees")

## ç¬¬ä¸ƒéƒ¨åˆ†ï¼šæ€§èƒ½ä¼˜åŒ–æŠ€å·§

In [ ]:
print("=" * 60)
print("æ€§èƒ½ä¼˜åŒ–æŠ€å·§")
print("=" * 60)

# 1. ä½¿ç”¨ cache() ç¼“å­˜é¢‘ç¹ä½¿ç”¨çš„ DataFrame
df_cached = df_final.cache()
print("âœ… DataFrame å·²ç¼“å­˜")

# 2. æŸ¥çœ‹æ‰§è¡Œè®¡åˆ’
print("\næŸ¥è¯¢æ‰§è¡Œè®¡åˆ’ï¼š")
df_final.filter(col("salary") > 75000).explain(mode="simple")

# 3. ä½¿ç”¨ persist() æ§åˆ¶å­˜å‚¨çº§åˆ«
from pyspark import StorageLevel
df_persisted = df_final.persist(StorageLevel.MEMORY_AND_DISK)
print("\nâœ… DataFrame å·²æŒä¹…åŒ–åˆ°å†…å­˜å’Œç£ç›˜")

# 4. åˆ†åŒºä¼˜åŒ–
print(f"\nå½“å‰åˆ†åŒºæ•°: {df_final.rdd.getNumPartitions()}")

# é‡æ–°åˆ†åŒºï¼ˆé€‚ç”¨äºå¤§æ•°æ®é›†ï¼‰
df_repartitioned = df_final.repartition(4)
print(f"é‡æ–°åˆ†åŒºå: {df_repartitioned.rdd.getNumPartitions()} ä¸ªåˆ†åŒº")

# 5. æ€§èƒ½æç¤º
print("\n" + "=" * 60)
print("æ€§èƒ½ä¼˜åŒ–å»ºè®®")
print("=" * 60)
print("""
1. å°½æ—©è¿‡æ»¤æ•°æ® (filter/where)
2. é€‰æ‹©éœ€è¦çš„åˆ— (select)
3. ç¼“å­˜é¢‘ç¹ä½¿ç”¨çš„ DataFrame (cache/persist)
4. åˆç†è®¾ç½®åˆ†åŒºæ•° (repartition/coalesce)
5. é¿å…ä½¿ç”¨ collect() å’Œ show() åœ¨å¤§æ•°æ®é›†ä¸Š
6. ä½¿ç”¨ broadcast join å¤„ç†å°è¡¨
7. ä½¿ç”¨ Parquet æ ¼å¼å­˜å‚¨æ•°æ®
""")

## ç»ƒä¹ é¢˜

### ç»ƒä¹  1ï¼šæ•°æ®æ¸…æ´—
åˆ›å»ºä¸€ä¸ªåŒ…å«è´¨é‡é—®é¢˜çš„è®¢å•æ•°æ®ï¼Œå¹¶æ¸…æ´—å®ƒ

In [ ]:
# ç»ƒä¹ æ•°æ®
order_data = [
    (1, "ORD001", "2024-01-15", 100.50, "Alice"),
    (2, "ORD002", "2024-01-16", None, "Bob"),  # ç¼ºå¤±é‡‘é¢
    (3, "ORD003", None, 200.00, "Charlie"),  # ç¼ºå¤±æ—¥æœŸ
    (1, "ORD001", "2024-01-15", 100.50, "Alice"),  # é‡å¤
    (4, "ORD004", "2024-01-17", -50.00, "David"),  # å¼‚å¸¸é‡‘é¢
]

orders_df = spark.createDataFrame(order_data, ["id", "order_id", "order_date", "amount", "customer"])

print("åŸå§‹è®¢å•æ•°æ®ï¼š")
orders_df.show()

# TODO: å®Œæˆä»¥ä¸‹ä»»åŠ¡
# 1. åˆ é™¤é‡å¤è®¢å•
# 2. è¿‡æ»¤æ‰é‡‘é¢ä¸ºè´Ÿçš„è®¢å•
# 3. ç”¨å¹³å‡é‡‘é¢å¡«å……ç¼ºå¤±çš„ amount
# 4. ç”¨ '2024-01-01' å¡«å……ç¼ºå¤±çš„æ—¥æœŸ
# 5. æ·»åŠ ä¸€ä¸ª amount_category åˆ—ï¼ˆHigh: >150, Medium: 100-150, Low: <100ï¼‰

# ä½ çš„ä»£ç ï¼š

### ç»ƒä¹  2ï¼šå­—ç¬¦ä¸²å¤„ç†
å¤„ç†å®¢æˆ·ä¿¡æ¯ä¸­çš„å­—ç¬¦ä¸²æ•°æ®

In [ ]:
# ç»ƒä¹ æ•°æ®
customer_data = [
    (1, "  ALICE SMITH  ", "alice.smith@GMAIL.com", "NEW YORK"),
    (2, "bob jones", "BOB@yahoo.com", "los angeles"),
    (3, "Charlie Brown", "charlie@Email.COM", "Chicago"),
]

customers_df = spark.createDataFrame(customer_data, ["id", "name", "email", "city"])

print("åŸå§‹å®¢æˆ·æ•°æ®ï¼š")
customers_df.show(truncate=False)

# TODO: å®Œæˆä»¥ä¸‹ä»»åŠ¡
# 1. å»é™¤ name çš„é¦–å°¾ç©ºæ ¼
# 2. å°† name è½¬æ¢ä¸ºæ ‡é¢˜æ ¼å¼ï¼ˆæ¯ä¸ªå•è¯é¦–å­—æ¯å¤§å†™ï¼‰
# 3. å°† email å…¨éƒ¨è½¬æ¢ä¸ºå°å†™
# 4. ä» email ä¸­æå–ç”¨æˆ·åå’ŒåŸŸå
# 5. å°† city è½¬æ¢ä¸ºæ ‡é¢˜æ ¼å¼

# ä½ çš„ä»£ç ï¼š

## æ€»ç»“

### æœ¬æ•™ç¨‹å­¦åˆ°çš„æ ¸å¿ƒæŠ€èƒ½ï¼š

#### æ•°æ®æ¸…æ´—
- âœ… å¤„ç†ç¼ºå¤±å€¼ï¼š`dropna()`, `fillna()`
- âœ… åˆ é™¤é‡å¤ï¼š`dropDuplicates()`
- âœ… å¼‚å¸¸å€¼æ£€æµ‹ï¼šè¿‡æ»¤ã€IQR æ–¹æ³•

#### æ•°æ®è½¬æ¢
- âœ… åˆ—æ“ä½œï¼š`withColumn()`, `drop()`, `withColumnRenamed()`
- âœ… å­—ç¬¦ä¸²å¤„ç†ï¼š`upper()`, `lower()`, `trim()`, `split()`
- âœ… ç±»å‹è½¬æ¢ï¼š`cast()`, `to_date()`
- âœ… æ¡ä»¶é€»è¾‘ï¼š`when().otherwise()`

#### é«˜çº§æŠ€å·§
- âœ… å¤æ‚è¿‡æ»¤ï¼š`filter()`, `isin()`, `like()`, `between()`
- âœ… åŠ¨æ€åˆ—é€‰æ‹©
- âœ… æ€§èƒ½ä¼˜åŒ–ï¼š`cache()`, `repartition()`

### ä¸‹ä¸€æ­¥å­¦ä¹ 
1. çª—å£å‡½æ•°ï¼ˆæ’åã€ç§»åŠ¨å¹³å‡ï¼‰
2. å¤æ‚æ•°æ®ç±»å‹ï¼ˆæ•°ç»„ã€ç»“æ„ä½“ã€Mapï¼‰
3. JOIN ä¼˜åŒ–æŠ€å·§
4. å®æˆ˜é¡¹ç›®

In [ ]:
# å…³é—­ Spark Session
# spark.stop()
# print("âœ… Spark Session å·²å…³é—­")

In [ ]:
# 1. ç¡®ä¿åœ¨æ­£ç¡®çš„ç›®å½•
pwd
# åº”è¯¥æ˜¾ç¤ºï¼š/Users/zhengzhang

# 2. ï¼ˆå¯é€‰ï¼‰æ¸…ç† Notebook è¾“å‡º
jupyter nbconvert --clear-output --inplace "Documents/2026/data engineer/learn pyspark/pep8.ipynb"

# 3. æŸ¥çœ‹ä¿®æ”¹äº†ä»€ä¹ˆ
git status

# 4. æŸ¥çœ‹å…·ä½“æ”¹åŠ¨ï¼ˆå¯é€‰ï¼‰
git diff "Documents/2026/data engineer/learn pyspark/pep8.ipynb"

# 5. æ·»åŠ ä¿®æ”¹
git add "Documents/2026/data engineer/learn pyspark/pep8.ipynb"

# 6. æäº¤
git commit -m "Update: æ›´æ–° PEP 8 ç¬”è®°å†…å®¹"

# 7. æ¨é€åˆ° GitHub
git push

In [ ]:
PySpark_DataFrame_Advanced

SyntaxError: invalid syntax (3613438092.py, line 1)